.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f1eb;
  width: 400px;
  padding: 20px;
}

aside img {
  width: 100%;
}

aside button {
  width: 50%;
}

aside button:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 36px;
}
